<div class="sidebar">
    <div class="sidebar-wrapper">
      <div class="logo">
        <a href="/" class="simple-text logo-normal text-center">
          Crypto Coin
        </a>
      </div>
      <ul class="nav">
        <li id="sidebar-profile-li">
          <a href="./profile.html">
            <i class="tim-icons icon-chart-pie-36"></i>
            <p>Profil</p>
          </a>
        </li>
        <li id="sidebar-send-li">
          <a href="./send.html">
            <i class="tim-icons icon-coins"></i>
            <p>Geld senden</p>
          </a>
        </li>
        <li id="sidebar-friends-li">
          <a href="./friends.html">
              <i class="tim-icons icon-chat-33"></i>
              <p>Freunde</p>
          </a>
      </li>
      </ul>
    </div>
  </div>